<body class="container-fluid m-0 p-0 g-0" id="profile">
<app-profile-aside class="row m-0 mb-4 pb-4 col-3"></app-profile-aside>
        <section class="col-8">
        <div class="row g-4 m-0 p-0 mt-4 pt-4">
            <div class="col-12 col-lg-6">
                <div class="custom-card">
                    <div class="custom-card-bg px-3">
                        <img src="./assets/img/coaches/coach_1.png" alt="#">
                    </div>
                    <div class="custom-card-details row g-0 m-0 p-4">
                        <div class="col">
                            <p class="coach-topic">Management</p>
                            <p class="price">20 lectures</p>
                        </div>
                        <div class="col text-end">
                            <p>Timmy Ramsey</p>
                            <img src="./assets/img/google.png" alt="Coach company" height="29">
                        </div>
                        <div class="col-12 mt-2 d-flex justify-content-center">
                            <button class="btn primary-btn">Continue</button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-12 col-lg-6">
                <div class="custom-card">
                    <div class="custom-card-bg px-3">
                        <img src="./assets/img/coaches/coach_2.png" alt="#">
                    </div>
                    <div class="custom-card-details row g-0 m-0 p-4">
                        <div class="col">
                            <p class="coach-topic">Nutrition</p>
                            <p class="price">20 lectures</p>
                        </div>
                        <div class="col text-end">
                            <p>Emma Milton</p>
                            <img src="./assets/img/google.png" alt="Coach company" height="29">
                        </div>
                        <div class="col-12 mt-2 d-flex justify-content-center">
                            <button class="btn primary-btn">Enroll</button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-12 col-lg-6">
                <div class="custom-card">
                    <div class="custom-card-bg px-3">
                        <img src="./assets/img/coaches/coach_3.png" alt="#">
                    </div>
                    <div class="custom-card-details row g-0 m-0 p-4">
                        <div class="col">
                            <p class="coach-topic">Transformation</p>
                            <p class="price">20 lectures</p>
                        </div>
                        <div class="col text-end">
                            <p>Timmy Ramsey</p>
                            <img src="./assets/img/google.png" alt="Coach company" height="29">
                        </div>
                        <div class="col-12 mt-2 d-flex justify-content-center">
                            <button class="btn primary-outline-btn">Practice</button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-12 col-lg-6">
                <div class="custom-card">
                    <div class="custom-card-bg px-3">
                        <img src="./assets/img/coaches/coach_4.png" alt="#">
                    </div>
                    <div class="custom-card-details row g-0 m-0 p-4">
                        <div class="col">
                            <p class="coach-topic">Leadership</p>
                            <p class="price">Session: 45min</p>
                        </div>
                        <div class="col text-end">
                            <p>Timmy Ramsey</p>
                            <img src="./assets/img/google.png" alt="Coach company" height="29">
                        </div>
                        <div class="col-12 mt-2 d-flex justify-content-center">
                            <button type="button" class="btn primary-btn" data-bs-toggle="modal" data-bs-target="#exampleModal">Continue</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

</body>

