<mat-dialog-content class="dialog-text-content">Are you sure you want to remove this course?<button mat-icon-button class="close-btn" [mat-dialog-close]="false">
    <mat-icon id="close-delete" class="close-icon" color="white" style="float: right; position: relative;">close</mat-icon>
  </button></mat-dialog-content>
  <mat-dialog-actions class="mat-dialog-btn-wrapper">
    <button mat-button [mat-dialog-close]="false" class="btn-dialog cancel-btn">Cancel</button>
    <button mat-button [mat-dialog-close]="true" class="btn-dialog delete-btn">Remove</button>
  </mat-dialog-actions>