

<body class="container-fluid m-0 p-0 g-0" id="profile">
<app-profile-aside class="row m-0 mb-4 pb-4 col-3"></app-profile-aside>
        <section class="col-8">
            <div class="row g-4 m-0 p-0 mt-4 pt-4">
                <div class="col-12 d-flex justify-content-end mb-4 pb-4">
                    <button class="btn white-outline-btn" [routerLink]="['/catalog']">Manage</button>
                </div>
                <p *ngIf="(businessOwnerCourses$ | async)?.length==0" >No courses added, yet</p>
                <app-course-item *ngFor="let course of businessOwnerCourses$ | async" [course]="course" class="col-12 col-lg-6"></app-course-item>
            </div>
        </section>
</body>
