footer {
  padding-top: 120px;
  position: relative;
  background-color: #0B2969;
  color: #fff;
  overflow: hidden;
}

footer::before {
  position: absolute;
  top: -80px;
  left: -5%;
  display: block;
  content: '';
  width: 110%;
  height: 150px;
  background-color: #fff;
  transform: rotate(5.5deg);
}

footer h6 {
  font-weight: bold;
  letter-spacing: 1.1px;
}

footer a {
  color: #fff !important;
}

.copyright-text {
  line-height: 45px;
  border-top: 2px solid #fff;
}

.white-btn {
  padding: 0 54.5px;
  background-color: #fff;
  color: #0B2969 !important;
  font-weight: 600;
  border-radius: 0;
  line-height: 70px;
}

footer li {
  margin-bottom: 42px;
}

.social-links li {
  margin-bottom: 25px;
}

aside {
  position: relative;
  background-color: rgba(41, 108, 251, .1);
  padding-top: 94px;
}

aside li {
  border-top: 1px solid #000;
}

aside li a {
  color: #000;
  line-height: 65px;
}

.logout-btn {
  color: #E84855 !important;
}

.aside-options {
  position: absolute;
  top: 0;
  right: 0;
}

.white-outline-btn {
  padding: 12px 26px;
  color: #296CFB !important;
  font-size: 22px;
  letter-spacing: 1.1px;
  border: 1px solid #296CFB;
  border-radius: 0;
}

.catalog-header {
  margin-bottom: 72px !important;
  background-color: rgba(22, 214, 150, .1);
}

.catalog-header h4 {
  font-size: 28px;
  font-weight: bold;
}

.border-left {
  border-left: 1px solid #000;
}

.catalog-header .form-check {
  margin-bottom: 20px;
}

.modal {
  background-color: rgba(11, 41, 105, .3);
}

.modal-content {
  border-radius: 0;
  box-shadow: 0 3px 6px rgba(0, 0, 0, .29);
}

.modal-header {
  background-color: #16D696;
  color: #fff;
  border-radius: 0;
  height: 350px;
}

@media screen and (max-width: 1024px) {
  .nav-links li {
    margin-right: 15px !important;
  }
  .border-left {
    border: 0;
  }
}
